.container {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d; /* default bg */
  transition: background 0.3s ease;
}