body {
  background-color: #212121;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  width: 820px;
  height: 420px;
  margin-top: 20px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: rgb(29, 29, 29); /* match Cypress test */
  transition: background-color 1s ease; /* smooth revert */
}